
.view-game,
.view-game-cards {
	@include overflow-hidden;
}

.view-game {
	max-width: $width-iphone6plus;
	@include fill;
	@include keep-horizontal-center;

	.view-status-header {
		z-index: 10;
	}



	// Transitions
	// enter: start state for enter transition
	// leave-active: end state for leave transition
	&.v-enter,
	&.v-leave-active {
		.view-status-header {
			transform: translate3d(0, -100%, 0);
		}
		.view-game-cards {
			transition-duration: $transition-medium;
			transform: scale(1) translate3d(0, calc(100%), 0);
		}
	}



	// Splash shown/hidden
	&.has-overlays {
		.view-game-cards {
			transform: scale(0.9) translate3d(0, calc(100%), 0);
		}
	}

	// When not dealing with view enter/leave, cards should animate in fast from under overlays
	&:not(.v-enter-active):not(.v-leave-active) {
		&.not-overlayed {
			.view-game-cards {
				transition-delay: $transition-fast;
			}
		}
	}



	// Overlays visible, cards go back
	&.is-overlayed {

		.view-game-overlays {
			// opacity: 1;
		}

		.view-game-cards {
			transition-duration: $transition-medium;
			opacity: 0.15;
			filter: blur(6px);
			transform: scale(0.9) translate3d(0, 0, 0);
		}
	}

	&.not-overlayed {
		.view-game-overlays {
			pointer-events: none;
		}
	}

}



// Splash to game transition

.view-game-overlays {
	z-index: 5;
	@include fill;
}

.view-game-cards {
	z-index: 2;
	@include fill-relative;
	transition-duration: $transition-slow;
	transition-property: transform, opacity, filter;
	transform: scale(1) translate3d(0, 0, 0);
	filter: blur(0);
	opacity: 1;

	// Some calculations
	$offset-vertical: $height-statusbar + $height-status-header;

	.view-card {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: calc(100% - #{$offset-vertical});
		transform: scale(1) translate3d(0, 0, 0);
		transform-origin: 50% -100%;



		// Stacking

		&.is-background-5,
		&.is-background-6,
		&.is-background-7,
		&.is-background-8 {
			display: none;
		}

		&.is-active {
			transform: scale(1) translate3d(0, -100%, 0);
		}

		&.is-inactive {
			pointer-events: none;
		}

		// Reveal slowly
		// &.is-inactive {
		// 	transition-duration: $transition-slowish;
		// }

		&.is-background {
			transform: scale(0.94) translate3d(0, -102%, 0);
		}

		&.is-background-2 {
			transform: scale(0.88) translate3d(0, -103.5%, 0);
		}

		&.is-background-3,
		&.is-background-4 {
			transform: scale(0.82) translate3d(0, -105%, 0);
		}

		// Prevent large screens from stacking cards too high

		@include viewport-height-over($height-iphone6plus) {

			&.is-background {
				transform: scale(0.94) translate3d(0, -101.5%, 0);
			}

			&.is-background-2 {
				transform: scale(0.88) translate3d(0, -102.5%, 0);
			}

			&.is-background-3,
			&.is-background-4 {
				transform: scale(0.82) translate3d(0, -103.5%, 0);
			}

		}

	}

}
